# =========================
# Visual Studio
# =========================

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates


# =========================
# Build
# =========================

bin/
obj/
Debug/
Release/


# =========================
# .NET
# =========================

*.dll
*.exe
*.pdb


# =========================
# User Secrets
# =========================

secrets.json


# =========================
# Environment Variables
# =========================

.env
.env.*
!.env.example


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary files
# =========================

*.tmp
*.temp


# =========================
# Rider / JetBrains
# =========================

.idea/


# =========================
# VS Code
# =========================

.vscode/